AnchorPane {
    -fx-background-color: #3c5c74;
}

.text {
    -fx-fill: white;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.text-field, .text-field:focused {
    -fx-background-color: Transparent;
    -fx-text-fill: white;
    -fx-border-color: #ee8966;
    -fx-border-width: 0 0 2 0;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button{
    -fx-background-color: #ee8966;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 14px;
}

.button:hover {
    -fx-background-color: #bd5f5f;
}

.combo-box, .combo-box .cell {
    -fx-background-color: #ee8966;
    -fx-text-fill: white;
}

.combo-box .cell:hover {
    -fx-background-color: #bd5f5f;
}

.list-view {
    -fx-background-color: Transparent;
    -fx-border-width: 2 0 0 2;
    -fx-border-color: black;
}

.combo-box .list-view {
    -fx-border-width: 1;
    -fx-border-color: black;
}

.table-view, .table-column {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: #3c5c74;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #5d8aa3;
}
